# IDE
.vs/
.vscode/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Archives
*.zip

# Databases / runtime
*.db
*.sqlite
*.sqlite3
*.wal
*.shm
logs/
*.log

# Docs lourds (à ignorer)
*.docx
*.pdf

# Fichiers parasites
tatus
