name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Installer dépendances
        run: pip install -r requirements.txt

      - name: Tests
        run: pytest

      - name: Analyse sécurité
        run: bandit -r .